.content {
  height: auto;
  display: grid;
  grid-template-rows: 85% 15%;
}

.bufferContainer{
    display: grid;
}

.gridElement{
    grid-column: 1;
    grid-row: 1;
}

.none{
    visibility: hidden;
}

.swipeRight{
    transform: translateX(1200px) rotate(25deg);
}

.swipeLeft{
    transform: translateX(-1200px) rotate(-25deg);
}