html {
  overflow-x: hidden;
}

html,
body {
  padding: 0;
  height: 100vh;
  margin: var(--global-margin);
  margin-inline: var(--global-margin);
  margin-block: 0;
  font-family: var(--font-stack);
}

* {
  box-sizing: border-box;
}
