.registerContent {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.registerinForm {
  display: grid;
  width: 100%;
  place-items: center;
  gap: 1em;
}

.header {
  margin: 0;
}

.input {
  padding-inline: 1em;
  border-radius: 10em;
}

.errorMsg {
  color: red;
}

.button {
  border-radius: 10em;
  padding-inline: 1em;
  padding-block: 0.5em;
}
