:root {
  /*Spacings*/
  --global-margin: 16px;

  /*Font*/
  --font-stack: "Open Sans", sans-serif;
  --font-size-m: 20px;
  --font-size-l: 32px;

  /*Radius*/
  --border-radius: 8px;

  /*Button icons*/
  --nav-icons-size: 32px;
  --controls-icons-size: 48px;

  /*Colors*/
  --dark-grey: rgb(95, 94, 94);
  --light-grey: rgb(196, 192, 192);
  --green: rgb(9, 172, 9);
  --red: rgb(223, 29, 29);
  --brand-light: rgb(101, 181, 82);
  --brand-dark: rgb(38, 119, 100);

  /*Nav*/
  --nav-height: 64px;

  /*Card*/
  --card-height: 450px;
}
